<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>양서영 팬클럽 방명록</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body class="container">
  <h1>
    양서영 팬클럽 방명록
    <a href="/new-entry" class="btn btn-primary pull-right">
      서영님을 응원하는 마음을 담아 글을 남겨주세요!
    </a>
  </h1>